beautifulsoup4==4.12.3
feedparser==6.0.11
imgurpython==1.1.7
instagrapi==2.1.2
openai==1.44.1
pandas==2.2.2
Pillow==10.4.0
psycopg2_binary==2.9.9
pydantic
python-dotenv==1.0.1
python_dateutil==2.9.0.post0
PyYAML==6.0.2
PyYAML==6.0.2
ratelimit==2.2.1
Requests==2.32.3
SQLAlchemy==2.0.34
streamlit==1.38.0
schedule==1.2.2